<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Thêm mới người dùng</h5>
        </div>
        <div class="card-body">
          <form novalidate="" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="(f.firstName.invalid && (submitted || f.firstName.dirty || f.firstName.touched))">
                    <small *ngIf="f.firstName.errors?.required" class="text-danger">First Name is required</small>
                  </div>
                </div>
              </div>
              <div class="col-md-7 pl-1">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="(f.lastName.invalid && (submitted || f.lastName.dirty || f.lastName.touched))">
                    <small *ngIf="f.lastName.errors?.required" class="text-danger">Last Name is required</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="birthday">Birthday</label>
                  <input type="date" formControlName="birthday" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" />
                  <div *ngIf="(f.birthday.invalid && (submitted || f.birthday.dirty || f.birthday.touched))">
                    <small *ngIf="f.birthday.errors?.required" class="text-danger">Birthday is required</small>
                    <small *ngIf="f.birthday.errors?.pattern" class="text-danger">Please provide a valid date</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" formControlName="email" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="(f.email.invalid && (submitted || f.email.dirty || f.email.touched))">
                    <small *ngIf="f.email.errors?.required" class="text-danger">
                      Primary email is
                      required
                    </small>
                    <small *ngIf="f.email.errors?.pattern" class="text-danger">
                      Please provide a valid
                      email address
                    </small>
                  </div>
                  <div *ngIf="messageError?.Email">
                    <small *ngIf="messageError?.Email" class="text-danger">{{messageError.Email}}</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="phoneNumber">Phone</label>
                  <input type="text" formControlName="phoneNumber" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                  <div *ngIf="(f.phoneNumber.invalid && (submitted || f.phoneNumber.dirty || f.phoneNumber.touched))">
                    <small *ngIf="f.phoneNumber.errors?.required" class="text-danger">
                      Primary phone is
                      required
                    </small>
                    <small *ngIf="f.phoneNumber.errors?.pattern" class="text-danger">
                      Please provide a
                      valid phone number
                    </small>
                    <small *ngIf="f.phoneNumber.errors?.maxlength || f.phoneNumber.errors?.minlength"
                           class="text-danger">Độ dài trong khoản 3 đến 15 chữ số</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="(f.username.invalid && (submitted || f.username.dirty || f.username.touched))">
                    <small *ngIf="f.username.errors.required" class="text-danger">Username is required</small>
                  </div>
                  <div *ngIf="messageError?.UserName">
                    <small *ngIf="messageError?.UserName" class="text-danger">{{messageError.UserName}}</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="(f.password.invalid && (submitted || f.password.dirty || f.password.touched))">
                    <small *ngIf="f.password.errors.required" class="text-danger">Password is required</small>
                    <small *ngIf="f.password.errors.minlength" class="text-danger">
                      Password must be at least 6 characters
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input formControlName="confirmPassword" type="password" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                  <div *ngIf="(f.confirmPassword.errors && (submitted || f.confirmPassword.dirty || f.confirmPassword.touched))">
                    <small *ngIf="f.confirmPassword.errors.required" class="text-danger">Confirm password is required.</small>
                    <small *ngIf="f.confirmPassword.errors.confirmedValidator" class="text-danger">
                      Password and Confirm password must be match.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button [disabled]="loading" class="btn btn-primary btn-round">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
                </button>
                <a routerLink="/admin/users" class="btn btn-cance btn-round btn-cance">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
