<div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Thêm mới role</h5>
        </div>
        <div class="card-body">
          <form novalidate="" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="name">Role name</label>
                  <input type="text" formControlName="name" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="(f.name.invalid && (submitted || f.name.dirty || f.name.touched))">
                    <small *ngIf="f.name.errors?.required" class="text-danger">Role name is required</small>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label for="description">Mô tả</label>
                  <input type="text" formControlName="description" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                  <div *ngIf="(f.description.invalid && (submitted || f.description.dirty || f.description.touched))">
                    <small *ngIf="f.description.errors?.required" class="text-danger">Description is required</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card demo-icons">
                        <div class="card-header ">
                          <h5 class="card-title">Chọn danh sách action của role</h5>
                        </div>
                        <div class="card-body">
                          <div id="icons-wrapper">
                            <tree-checklist-example></tree-checklist-example>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button [disabled]="loading" class="btn btn-primary btn-round btn-custom">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Register
                </button>
                <a routerLink="/admin/users" class="btn btn-cance btn-round btn-cance"><i class="fa fa-ban fa-lg" aria-hidden="true"></i> Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
