<a routerLink="/admin/users/add" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mới</a>  
<table class="table table-striped table-border" aria-labelledby="tableLabel" *ngIf="listUser">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Ngày sinh</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Tài khoản</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listUser">
      <td>{{ item.firstName }} {{ item.lastName }}</td>
      <td>{{ item.birthDay }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phoneNumber }}</td>
      <td>{{ item.userName }}</td>
      <td>
        <a routerLink="/admin/users/edit/{{ item.id }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>  
        <a routerLink="/admin/users/detail/{{ item.id }}"><i class="fa fa-search" aria-hidden="true"></i></a>  
        <a routerLink="/adminusers/delete/{{ item.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
