<a routerLink="/admin/action/add" class="btn btn-primary btn-round btn-custom"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Thêm mới</a>  
<table class="table table-striped table-border table-hover table-custom" aria-labelledby="tableLabel" *ngIf="items">
  <thead>
    <tr>
      <th>ControllerName</th>
      <th>ActionName</th>
      <th>Mô tả</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.controllerName }}</td>
      <td>{{ item.actionName }}</td>
      <td>{{ item.description }}</td>
      <td class="text-center link-action">
        <a routerLink="/admin/action/edit/{{ item.id }}" title="sửa"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>  
        <a routerLink="/admin/action/delete/{{ item.id }}" title="xóa"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<jw-pagination [total] ="total" [pageIndex] ="pageIndex" [pageSize]="pageSize" [maxPages]="maxPages" (changePage)="onChangePage($event)"></jw-pagination>
