<link rel="stylesheet" type="text/css" href="./assets/css/register.css">
<div class="page-wrapper bg-gra-02 p-t-30 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="row">
                <span class="title-form-register">Registration Form</span>
            </div>          
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label for="firstName">First Name</label>
                                <input type="text" formControlName="firstName" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <div *ngIf="(f.firstName.invalid && (submitted || f.firstName.dirty || f.firstName.touched))" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors?.required">First Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="input-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" formControlName="lastName" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                <div *ngIf="(f.lastName.invalid && (submitted || f.lastName.dirty || f.lastName.touched))" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors?.required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-8">
                            <div class="input-group">
                                <label for="birthday">Birthday</label>
                                <input type="date" formControlName="birthday" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" />
                                <div *ngIf="(f.birthday.invalid && (submitted || f.birthday.dirty || f.birthday.touched))" class="invalid-feedback">
                                    <div *ngIf="f.birthday.errors?.required">Birthday is required</div>
                                    <div *ngIf="f.birthday.errors?.pattern">Please provide a valid date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label for="email">Email</label>
                                <input  type="email" formControlName="email" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />                          
                                <div *ngIf="(f.email.invalid && (submitted || f.email.dirty || f.email.touched))">
                                  <small *ngIf="f.email.errors?.required" class="text-danger">Primary email is required</small>
                                  <small *ngIf="f.email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label for="phoneNumber">Phone{{ f.phoneNumber.errors?.minlength}}</label>
                                <input  type="text" formControlName="phoneNumber" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />                          
                                <div *ngIf="(f.phoneNumber.invalid && (submitted || f.phoneNumber.dirty || f.phoneNumber.touched))">
                                  <small *ngIf="f.phoneNumber.errors?.required" class="text-danger">Primary phone is required</small>
                                  <small *ngIf="f.phoneNumber.errors?.pattern" class="text-danger">Please provide a valid phone number</small>
                                  <small *ngIf="f.phoneNumber.errors?.maxlength || f.phoneNumber.errors?.minlength" class="text-danger">Độ dài trong khoản 3 đến 15 chữ số</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label for="username">Username</label>
                                <input type="text" formControlName="username" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <div *ngIf="(f.username.invalid && (submitted || f.username.dirty || f.username.touched))" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label for="password">Password</label>
                                <input type="password" formControlName="password" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="(f.password.invalid && (submitted || f.password.dirty || f.password.touched))" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input formControlName="confirmPassword" type="password" class="input--style-4" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                <div *ngIf="(f.confirmPassword.invalid && (submitted || f.confirmPassword.dirty || f.confirmPassword.touched))" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required.</div>
                                    <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button [disabled]="loading" class="btn btn--radius-2 btn--blue">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a routerLink="/login" class="btn btn-link btn-cance">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>